<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alexandrebantz.alfred-linguee</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>BFDCDED4-E644-46C9-93E2-4A664317967B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>313C1AC7-C1DE-45AC-9504-868B14B1E5A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alexandre Bantz</string>
	<key>description</key>
	<string>Helps you faster translate phrases in Linguee.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Translate on Linguee</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.linguee.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>313C1AC7-C1DE-45AC-9504-868B14B1E5A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>ling</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require_once('workflows.php');
$wf = new Workflows();

$dict = array ( "fr" =&gt; "french", "en" =&gt; "english", "de" =&gt; "german", "es" =&gt; "spanish", "ru" =&gt; "russian", "pt" =&gt; "portuguese", "it" =&gt; "italian", "ja" =&gt; "japanese", "zh" =&gt; "chinese", "nl" =&gt; "dutch", "pl" =&gt; "polish", "da" =&gt; "danish", "sv" =&gt; "swedish", "fi" =&gt; "finnish", "el" =&gt; "greek", "cs" =&gt; "czech", "ro" =&gt; "romanian", "hu" =&gt; "hungarian", "sk" =&gt; "slovene", "lt" =&gt; "lithuanian", "lv" =&gt; "latvian", "et" =&gt; "estonian", "mt" =&gt; "maltese" );

$fromTo = substr("{query}", 0, 4);
$firstLangKey = substr($fromTo, 0, 2);
$secondLangKey = substr($fromTo, 2, 4);

if (array_key_exists($firstLangKey, $dict)) {
	$firstLang = $dict[$firstLangKey];
} else {
	$firstLang = "english";
}

if (array_key_exists($secondLangKey, $dict)) {
	$secondLang = $dict[$secondLangKey];
} else {
	$secondLang = "english";
}

$uppercaseFirstLang = ucwords($firstLang);
$uppercaseSecondLang = ucwords($secondLang);

$languages = urlencode( "$firstLang-$secondLang" );

$orig = substr("{query}", 4, strlen("{query}") -1);

$text = urlencode( $orig );
$xml = $wf-&gt;request( "http://google.com/complete/search?output=toolbar&amp;q=$text" );
$xml = simplexml_load_string( utf8_encode($xml) );
$int = 1;

foreach( $xml as $sugg ):
	$data = $sugg-&gt;suggestion-&gt;attributes()-&gt;data;
	$query = "$languages/search?source=auto&amp;query=$data";
	$wf-&gt;result( $int.'.'.time(), $query, "$data", "Translate \"$data\" from $uppercaseFirstLang to $uppercaseSecondLang in Linguee ", 'icon.png'  );
	$int++;
endforeach;

$results = $wf-&gt;results();
if ( count( $results ) == 0 ):
	$wf-&gt;result( 'googlesuggest', $orig, 'Search Linguee for '.$orig, 'No suggested matches, search Linguee for '.$orig, 'icon.png' );
endif;

echo $wf-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BFDCDED4-E644-46C9-93E2-4A664317967B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An Alfred workflow that helps you faster translate phrases in Linguee.



The scheme of the query is very simple and uses the following pattern:

	ling &lt;phrase to translate&gt; &lt;from language ISO 639-1 code&gt;&lt;to 	language ISO 639-1 code&gt;

Which gives us in the real world:

	ling le meilleur des deux mondes fren



Read the complete readme here: https://github.com/Performat/alfred-linguee</string>
	<key>uidata</key>
	<dict>
		<key>313C1AC7-C1DE-45AC-9504-868B14B1E5A1</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>BFDCDED4-E644-46C9-93E2-4A664317967B</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://twitter.com/performat</string>
</dict>
</plist>
